:root {
  --primary: #6c2dc3;
  --bg: #212173;
  --tes: #580fbe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bg);
  background-image: url(../Gambar/BackgroundStore.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  width: 100%;
}

/* Navbar Start*/
.navbar {
  position: fixed;
  width: 100%;
  background-color: #6c2dc3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5790980672870436vw;
  padding: 1rem;
  z-index: 9999;
}

.navbar .logo a {
  font-size: 7.158196134574087vw;
  letter-spacing: -0.1em;
  color: #ffffff;
}

.navbar .navbar-nav a {
  font-size: 2.5053686471009304vw;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  padding: 0.572655690765927vw 1.0737294201861132vw;
}

.navbar .navbar-nav a:hover {
  background-color: #212173;
  border-radius: 3vw;
}

#hamburger {
  display: none;
}

/* Navbar End */

/* body Start */
.push-nav {
  width: 100%;
  height: 9.559055118110237vw;
  background-color: black;
}

.kotak {
  width: 100%;
  display: flex;
  margin: 5vw 0vw 5vw 0vw;
  justify-content: center;
  flex-direction: column;
}
.kotak .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kotak .button {
  width: 35.79098067287044vw;
  height: 10%;
  border-radius: 10px;
  font-family: "Josefin Sans";
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}

.kotak .container form {
  margin-left: 5%;
  width: 100%;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  border-radius: 22px;
}

.kotak .container form .isi input {
  background-color: #6c2dc3;
  padding-left: 25px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
}

.kotak .container form .isi span {
  font-size: 2vw;
  font-weight: 200;
  color: red;
}

.kotak .container form .isi {
  display: flex;
  flex-direction: column;
  gap: 1.4316392269148175vw;
}

.kotak .container form .isi .kotak-nama input {
  width: 500px;
  height: 50px;
  border-radius: 22px;
}
.kotak .container form .isi .kotak-email input {
  width: 500px;
  height: 50px;
  border-radius: 22px;
}
.kotak .container form .isi .kotak-nomor input {
  width: 500px;
  height: 50px;
  border-radius: 22px;
}
.kotak .container form .isi .kotak-alamat input {
  width: 500px;
  height: 50px;
  border-radius: 22px;
}

.button {
  background-color: #6c2dc3;
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
  margin: 4.8vw 0vw 0vw 4.8vw;
}

.button:hover {
  background-color: #212173;
  color: white;
}
/* body End */

/* footer Start */

.push {
  height: 4.294917680744453vw;
}

footer {
  width: 100%;
  height: 16.821760916249104vw;
  margin: 0;
  padding: 0;
  background-color: #6c2dc3;
  display: flex;
  position: absolute;
}

footer a {
  font-size: 7.158196134574087vw;
  letter-spacing: -0.1em;
  color: #ffffff;
}

footer .kotak-tulisan {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 3.5790980672870436vw;
}

footer .kotak-tulisan .links {
  width: 17.89549033643522vw;
  height: 11.811023622047244vw;
  padding-top: 2.5053686471009304vw;
  font-weight: 700;
  font-size: 1.7895490336435218vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.7158196134574087vw;

  color: #ffffff;
}

footer .connect {
  padding-top: 2.5053686471009304vw;
}

footer .connect .logo-connect1 {
  text-align: center;
}

footer .connect .logo-connect2 {
  text-align: center;
}

footer .connect .logo-connect1 .instagram-logo {
  width: 4.652827487473156vw;
  height: 4.652827487473156vw;
}

footer .connect .logo-connect1 .facebook-logo {
  width: 4.652827487473156vw;
  height: 4.652827487473156vw;
}

footer .connect .logo-connect2 .twitter-logo {
  width: 4.652827487473156vw;
  height: 4.652827487473156vw;
}

footer .connect .logo-connect2 .youtube-logo {
  width: 4.652827487473156vw;
  height: 4.652827487473156vw;
}

footer .connect-us {
  font-weight: 700;
  font-size: 2.5053686471009304vw;
  text-align: center;
}

footer .connect {
  color: #ffffff;
}

footer .logo {
  display: flex;
  align-items: center;
}

/* footer end */

/* Media Queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .kotak .container form .isi .kotak-nama .label {
    font-size: 10%;
  }

  /* navbar start */
  #hamburger {
    display: inline-block;
    color: #ffffff;
    padding-right: 2.5vw;
  }

  .navbar-nav {
    background-color: #ffffff;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #212173;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 16px;
    text-align: center;
  }
  .push-nav {
    height: 9.125vw;
    width: 100%;
  }
  /* navbar end */

  .kotak .container form .isi .kotak-nama input {
    width: 50%;
    height: 50%;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-email input {
    width: 50%;
    height: 50%;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-nomor input {
    width: 50%;
    height: 50%;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-alamat input {
    width: 50%;
    height: 50%;
    border-radius: 1.5748031496062993vw;
  }

  .kotak .container form .isi .kotak-nama label {
    font-size: 65%;
  }
  .kotak .container form .isi .kotak-gender label {
    font-size: 65%;
  }
  .kotak .container form .isi .kotak-email label {
    font-size: 65%;
  }
  .kotak .container form .isi .kotak-nomor label {
    font-size: 65%;
  }
  .kotak .container form .isi .kotak-alamat label {
    font-size: 65%;
  }
  .kotak .container form .isi .kotak-gender .select {
    font-size: 65%;
  }

  .kotak .container form .isi input {
    padding-left: 15px;
    line-height: 50px;
    font-size: 20px;
  }

  .kotak .button {
    width: 25%;
    font-size: 5vw;
  }

  .button {
    background-color: #6c2dc3;
    border: none;
    color: white;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 10%;
  }

  /* navbar start */
  #hamburger {
    display: inline-block;
    color: #ffffff;
    padding-right: 2.5vw;
  }

  .navbar-nav {
    background-color: #ffffff;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #212173;
    width: 75rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 16px;
    text-align: center;
  }

  .push-nav {
    height: 9.6vw;
    width: 100%;
  }
  /* navbar end */

  .kotak .container form .isi .kotak-nama input {
    width: 40%;
    height: 4vw;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-email input {
    width: 40%;
    height: 4vw;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-nomor input {
    width: 40%;
    height: 4vw;
    border-radius: 1.5748031496062993vw;
  }
  .kotak .container form .isi .kotak-alamat input {
    width: 40%;
    height: 4vw;
    border-radius: 1.5748031496062993vw;
  }

  .kotak .container form .isi .kotak-nama label {
    font-size: 35%;
  }
  .kotak .container form .isi .kotak-gender label {
    font-size: 35%;
  }
  .kotak .container form .isi .kotak-email label {
    font-size: 35%;
  }
  .kotak .container form .isi .kotak-nomor label {
    font-size: 35%;
  }
  .kotak .container form .isi .kotak-alamat label {
    font-size: 35%;
  }
  .kotak .container form .isi .kotak-gender .select {
    font-size: 35%;
  }

  .kotak .container form .isi .kotak-nama {
    line-height: 15px;
  }
  .kotak .container form .isi .kotak-gender {
    line-height: 15px;
  }
  .kotak .container form .isi .kotak-email {
    line-height: 15px;
  }
  .kotak .container form .isi .kotak-nomor {
    line-height: 15px;
  }
  .kotak .container form .isi .kotak-alamat {
    line-height: 15px;
  }
  .kotak .container form .isi .kotak-gender {
    line-height: 15px;
  }

  .kotak .container form .isi input {
    padding-left: 10px;
    font-size: 35%;
  }
  .kotak .button {
    justify-content: left;
    width: 40%;
    height: 30px;
    line-height: 15px;
  }
  .push-nav {
    height: 8.5vw;
  }
}
